@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #03599d;
  --font-sans: "Open Sans", sans-serif;
  --font-oswald: "Oswald", sans-serif;
}
body {
  font-family: "Oswald", sans-serif;
}